:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #cccccc;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #242424;
  text-decoration: inherit;
}

a:hover {
  color: #474747;
  text-decoration: underline;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.config_wrap {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.configurator {
  display: flex;
  font-weight: bold;
}

.configurator.material {
  align-items: left;
  margin-bottom: 20px;
}

.config_btn {
  border: 1px solid black;
  margin-right: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  transition: all 0.4s ease-in-out;
}

.config_btn.mat {
  font-weight: 700;
  font-size: 18px;
    padding: 10px;
}

.config_btn.btn_active {
  border: 2px solid black;
}

.config_btn.green {
  background-color: #038e42;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.config_btn.blue {
  background-color: #619fdd;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.config_btn.red {
  background-color: #be061f;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}